* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;
}
body {
    background-color: rgb(163, 163, 163);
    font-family: 'Roboto', sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 85%;
    margin: 2% auto;
    border: 2px solid black;
}
.flex-item {
    padding: 10px;
    font: 900 "Roboto", sans-serif;
    text-align: center;
    border: 2px solid black;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: 700;
}
@media screen and (max-width:734px) {
    .header__logo__second {
        display: none;
    }
    .header {
        justify-content: center;
    }
}
@media screen and (max-width:350px){
    .header__logo__first{
        font-size: 1.5rem;
    }
}
/* NAVIGATION */
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border: 2px solid black;
}
.nav__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.2s linear color;
}
.nav__link:hover {
    color: #fff;
}
/* IMAGES */
.first-aside__block__first__img {
    max-width: 100%;
}
.first-aside__block__second__img {
    max-width: 100%;
}
.first-aside__block__third__img {
    max-width: 100%;
}
.second-aside__block__first__img {
    max-width: 100%;
}
.second-aside__block__second__img {
    max-width: 100%;
}
/* SECTION */
.first-section__block__first {
    flex: 4;
    border-bottom: 4px solid black;
    box-sizing: content-box;
}
.first-section__block__second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin: 12px auto;
}
.first-section__block__second__title {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
    transition: 0.2s linear color;
    text-decoration: none;
    color: #000;
}
.first-section__block__second__title:hover{
    color: #fff;
}
@media screen and (max-width: 460px){
    .first-section__block__second__title{
        font-size: 1rem;
    }
}
.first-section__block__third__title {
    border: 2px solid black;
    border-radius: 10px;
    transition: background .2s linear, color .2s linear;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.first-section__block__third__title:hover{
    background-color: #fff;
}
.first-section__block__third {
    flex: 1;
}
.first-section__block__third__suptitle {
    margin: 10px auto;
}
.first-section__block__third__title {
    margin: 10px auto;
}
.first-section__block__fourth {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    flex: 1;
}
.first-section__block__fourth__title {
    margin: 10px auto;
}
.first-section__block__first__img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.first-section__block__second__img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.first-section__block__third__img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.section__block__first__title {
    margin: 10px auto;
    text-decoration: none;
    color: #000;
    transition: 0.2s linear color;
}
.section__block__first__title:hover{
    color: #fff;
}
.section__block__first__subtitle {
    border: 3px solid black;
    padding: 10px;
    margin: 10px auto;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    transition: background .2s linear, color 0.1s linear;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.section__block__first__subtitle:hover{
    background-color: #fff;
}
@media screen and (max-width:1200px) {
    */ .first-section__block__second__img {
        max-width: 100%;
    }
    .first-section__block__third__img {
        max-width: 100%;
    }
    .first-section__block__second {
        align-items: center;
        flex-direction: column;
    }
    .first-section__block__second__title {
        display: block;
    }
}
/* ASIDE LEFT*/
.aside__left {
    display: flex;
    flex-direction: column;
}
.aside__block__first__title {
    color: #000;
    text-decoration: none;
    transition: 0.2s linear color;
    margin: 12px auto;
}
.aside__block__first__title:hover {
    color: #fff;
}
.first-aside__block__first {
    flex: 1;
}
.first-aside__block__second {
    flex: 1;
    border: 2px solid black;
    margin: 12px auto;
    padding: 10px;
}
.aside__block__second__title {
    text-decoration: none;
    color: #000;
    transition: 0.2s linear color;
}
.aside__block__second__title:hover {
    color: #fff;
}
.first-aside__block__third {
    flex: 1;
}
/* FIGCAPTION ASIDE LEFT */
.aside__block__second__figcaption {
    float: right;
}
/* ASIDE RIGHT */
.second-aside__block__first {
    flex: 1;
    border-bottom: 4px solid black;
}
.second-aside__block__first__title{
    text-decoration: none;
    color: #000;
    transition: 0.2s linear color;
}
.second-aside__block__first__title:hover{
    color: #fff;
}
.second-aside__block__second {
    flex: 1;
    margin: 12px auto;
    border-bottom: 4px solid black;
}
.second-aside__block__second__title{
    text-decoration: none;
    color: #000;
    transition: 0.2s linear color;
    margin: 12px auto;
}
.second-aside__block__second__title:hover{
    color: #fff;
}
.second-aside__block__third {
    flex: 1;
    margin: 12px auto;
}
.second-aside__block__third__title{
    text-decoration: none;
    color: #000;
    transition: 0.2s linear color;
}
.second-aside__block__third__title:hover{
    color: #fff;
}
@media screen and (max-width: 650px) {
    .navigation {
        flex-direction: column;
    }
}
main {
    display: flex;
    flex: 1;
}
@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }
    section {
        order: -1;
    }
}
aside {
    flex: 1;
}
section {
    flex: 3;
}
